.banner{
    height: 150px;
    background-color: rgb(216, 214, 214);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
    border-width: 1px;
}

.left-banner, 
.right-banner{
    flex: 1;
}

.middle-banner{
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-between;
}

.button-container{
    width: 100px;
    display: flex;
    justify-content: center;

}

.button-container img{
    margin-top: 25px;
    width: 100px;
    height: 100px;
}

.button-container img:hover{
    cursor: pointer;
}

@media (max-width: 900px){
    .banner{
        height: 50px;
    }

    .button-container img{
        width: 45px;
        height: 45px;
        margin-top: 2px;
    }
}