.main-body{
    background-color: rgb(223, 76, 128);
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    border-style: solid;
    border: 10px;
    border-color: black;
}

.video-wrapper iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 0px;
    border: 0px;
}

.video-embed-grid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.div-inside-video-wrapper{
    background-color: black;
}

@media (max-width: 600px){
    .video-embed-grid{
        display: grid;
        grid-template-columns: 0px 1fr 0px;
    }
}